{% extends "mathswizard/header.html" %}

{% block content %}
<body>

<div id ="content">

	<div id = "incon">
	
		<h2>Welcome {{user.first_name}}!</h2>
			<a href="/mathswizard/dashboard/edit_user">Edit Profile</a>
			<button onclick="window.location.href='/mathswizard/students'">Check My Class</button>
			<button onclick="window.location.href='/mathswizard/add_student'">Add a Student</button>
			<a href="/mathswizard/logout">Log Out</a>
			<h1>{{ data }}</h1>
	</div>
</div>
</body>
{% endblock %}
