<DOCTYPE html>
<html lang='en'>

<head>
	<title> Maths Wizard </title>
	<meta charset='utf-8' />
	
	{% load static %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<div id = "header">
	<img src="{% static 'mathswizard/wizard.png' %}" style="width:200px;height:125px;">
	<ul>
		<li><a href="/mathswizard/home" style="border-radius:5px 0px 0px 0px;">Home</a></li>
		<li><a href="/mathswizard/login" style="border-radius:5px 5px 0px 0px;">Log in</a></li>
		<li><a href="/mathswizard/register" style="border-radius:0px 5px 5px 0px">Sign up</a></li>
	</ul>
	</div>

<body class='container'>
	<div>
		{% block content %}
		{% endblock %}
	</div>
</body>

<div id = "footer">
			<ul class = "links">
				<li><a href="/mathswizard/home">Home</a></li>
				<li><a href="/mathswizard/login">Log in</a></li>
				<li><a href="/mathswizard/register">Sign up</a></li>
			</ul>
</div>
</html>