<DOCTYPE html>
<html lang='en'>

<head>
	<title> Maths Wizard </title>
	<meta charset='utf-8' />
	
	{% load static %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>

<img src="{% static 'mathswizard/wizard.png' %}" style="width:200px;height:125px;">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/mathswizard/myProfile/">Maths Wizard</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/mathswizard/myProfile/" style="border-radius:5px 5px 0px 0px;">My Profile</a></li>
    </ul>
  </div>
</nav>

<body class='container'>
	<div>
		{% block content %}
		{% endblock %}
	</div>
</body>
</div>
</html>